@model Contatos.Models.Cliente
@{
    ViewData["Title"] = "Editar Contato";
}

<h1>Editar</h1>
<h2>Contato</h2>
<h3>@Model.Nome</h3>
<hr />
<form class="row g-3" asp-action="Editar" method="post">

      <div class="form-group col-md-6">
           <label for="inputState" class="form-label">Perfil</label>
        <input class="form-control" name="perfil">
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">Tipo</label>
        <select id="inputState" class="form-select" name="tipo">
          <option selected>Instagram</option>
          <option>Facebook</option>
          <option>Twiter</option>
          <option>Email</option>
          <option>Celular</option>
          <option>Telefone Fixo</option>
        </select>
      </div>
      <div class="col-md-12" >
           <input type="submit" value="Adicionar Contato" class="btn btn-primary" asp-route-id="@Model.Id"/>
      </div>
</form>
<br />

<div>
     <a class="btn btn-primary" asp-action="Index" asp-route-id="@Model.Id">Voltar</a>
</div>

